<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trisoft</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mb-5">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo" class="rounded-circle"
                    style="height: 80px; width: 80px; object-fit: cover;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="/services">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5 pt-5">
        <h1 class="mt-5">Contacto</h1>
        <form action="/contact" method="POST" id="contact-form">
            <div class="mb-3">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Mensaje</label>
                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

        {% if message %}
        <!-- Mensaje de éxito con animación -->
        <div class="alert alert-success mt-3 fade-in" role="alert">
            Gracias por completar el formulario.
        </div>
        {% endif %}
    </div>

    <!-- WhatsApp Button -->
    <div class="whatsapp-button">
        <a href="https://wa.me/5491138479551" target="_blank">
            <img src="{{ url_for('static', filename='images/whatsapp.png') }}" alt="WhatsApp" class="img-fluid">
        </a>
    </div>

    <!-- Footer -->
    <footer class="text-white text-center py-3 bg-dark">
        <p class="mt-5">&copy; 2025 Trisoft. Todos los derechos reservados.</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
